include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
graft src/rsa_encryption/py.typed
graft docs
graft tests
global-exclude __pycache__
global-exclude *.pyc
global-exclude .git
